
.cadastro-section {
  background-color: var(--color-neutral-300);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-5) var(--space-2);
}

.container {
  display: flex;
  justify-content: center;
}

.apresentacao {
  background-color: #fff;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  padding: var(--space-4);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.apresentacao h2 {
  color: var(--color-primary-900);
  font-size: var(--font-lg);
  margin-bottom: var(--space-2);
}

.apresentacao p {
  color: var(--color-neutral-700);
  font-size: var(--font-sm);
  margin-bottom: var(--space-3);
}

.formulario__cadastro {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  text-align: left;
}

.formulario__cadastro label {
  font-weight: bold;
  color: var(--color-neutral-900);
}

.formulario__cadastro input {
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-neutral-300);
  font-size: var(--font-sm);
}

.formulario__cadastro input:focus {
  border-color: var(--color-primary-500);
  box-shadow: 0 0 5px rgba(0,104,163,0.3);
  outline: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .apresentacao {
    padding: var(--space-3);
  }

  .apresentacao h2 {
    font-size: var(--font-md);
  }

  .formulario__cadastro input {
    font-size: var(--font-xs);
  }
}
