:root {
    --cor-botao: #001e30;
    --cor-letra-botao: #dedede;
}

fieldset{
    padding: 10px;
    margin: 20px 200px 10px 200px;
}

.apresentacao{
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1)
}

.apresentacao h2 {
    color: #003b63;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.apresentacao p {
    text-align: center;
    font-weight: 500;
    color: #333;
    margin-bottom: 30px;
}

.formulario__cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario__cadastro label {
    font-weight: bold;
    color: #002d4a;
}

.formulario__cadastro input,
.formulario__cadastro textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.3s;
}

.formulario__cadastro input:focus,
.formulario__cadastro textarea:focus {
    border-color: #0068a3;
    box-shadow: 0 0 5px rgba(0, 104, 163, 0.4);
    outline: none;
}

#formulario__entre {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10%;
    margin-top: 1%;
}

.botao {
    background-color: #0068a3;
    color: white;
    font-weight: bold;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.botao:hover {
  background-color: #004d78;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
    .apresentacao {
    padding: 20px;
}

    .apresentacao h2 {
    font-size: 1.6rem;
}

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
}

    nav button {
        width: 80%;
        font-size: 1em;
        padding: 10px;
}

    header {
        text-align: center;
        padding: 15px 0;
}

    main {
        padding: 10px;
}

}
