<<<<<<< HEAD
:root {
    --cor-cabecalho: rgb(88, 6, 88);
    --cor-fundo-cabecalho: rgb(8, 250, 250);
    --cor-hover-fundo-cabecalho: rgb(8, 180, 250);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.cabecalho__navegacao {
    display: flex;
    justify-content:space-between;
}

.cabecalho__menu {
    display: flex;
    gap: 30px;
    margin: 15px;
}

.cabecalho__navegacao__link {
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    color: var(--cor-cabecalho);
    background-color: var(--cor-fundo-cabecalho);
}

.cabecalho__navegacao__link:hover {
    transition: 0.5s;
    background-color: var(--cor-hover-fundo-cabecalho);
}

=======
:root {
    --cor-cabecalho: rgb(88, 6, 88);
    --cor-fundo-cabecalho: rgb(8, 250, 250);
    --cor-hover-fundo-cabecalho: rgb(8, 180, 250);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.cabecalho__navegacao {
    display: flex;
    justify-content:space-between;
}

.cabecalho__menu {
    display: flex;
    gap: 30px;
    margin: 15px;
}

.cabecalho__navegacao__link {
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    color: var(--cor-cabecalho);
    background-color: var(--cor-fundo-cabecalho);
}

.cabecalho__navegacao__link:hover {
    transition: 0.5s;
    background-color: var(--cor-hover-fundo-cabecalho);
}

>>>>>>> cd1bab35c50938510115524990e74b1d696da8c7
