
:root {
    --cor--fundo: rgb(48, 48, 48);
    --cor--letras: rgb(198, 198, 198);

    --cor-cabecalho: rgb(236, 236, 236);
    --cor-fundo-cabecalho: rgb(0, 92, 11);
    --cor-hover-fundo-cabecalho: rgb(23, 180, 46);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--cor--fundo);
    color: var(--cor--letras);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

main {
    flex: 1;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(135deg, #565756 0%, #02481d 100%);
    width: 100%;
    top: 0;
    z-index: 1000;
    gap: 20px;
    /* position: fixed; */
}

.cabecalho__navegacao {
    display: flex;
    justify-content: center;
    
}

.cabecalho__menu {
    display: flex;
    gap: 30px;
    margin: 15px;
}

.cabecalho__navegacao__link {
    font-weight: 500;
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    color: var(--cor-cabecalho);
    background-color: var(--cor-fundo-cabecalho);
}

.cabecalho__navegacao__link:hover {
    transition: 0.5s;
    background-color: var(--cor-hover-fundo-cabecalho);
}

h1 {
    padding: 10px 0px 16px 10px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

h2 {
    margin-left: 15px;
    margin-top: 1%;
}

.apresentacao__paragrafo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

.principal__lista {
    margin: 20px 0px 12px 30px;
}

.principal__lista__texto {
    text-decoration: none;
    color: rgb(4, 198, 75);
}

#rodape {
    text-align: center;
    padding: 1%;
    background-color: rgb(43, 69, 40);
    margin-top: 1%;
}