
:root {
    --cor-cabecalho: rgb(236, 236, 236);
    --cor-fundo-cabecalho: rgb(0, 92, 11);
    --cor-hover-fundo-cabecalho: rgb(23, 180, 46);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    gap: 25px
}

.cabecalho__navegacao {
    display: flex;
    justify-content: flex-end;
}

.cabecalho__menu {
    display: flex;
    gap: 30px;
    margin: 15px;
}

.cabecalho__navegacao__link {
    text-decoration: none;
    padding: 12px 40px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    color: var(--cor-cabecalho);
    background-color: var(--cor-fundo-cabecalho);
}

.cabecalho__navegacao__link:hover {
    transition: 0.5s;
    background-color: var(--cor-hover-fundo-cabecalho);
}

h1 {
    padding: 10px 0px 10px 10px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid black;
}

h2 {
    margin-left: 15px;
}

.apresentacao__paragrafo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
}

.principal__lista {
    margin: 20px 0px 12px 30px;
}

.principal__lista__texto {
    text-decoration: none;
}